include _mixins
block footer

    footer#footer.footer

        .footer__top

            .container

                ul.footer__menu

                    li.footer__menu-item
                        a(href="#") Дома под ключ

                        ul.footer__submenu
                            li.footer__submenu-item
                                a(href="#") Коттеджи
                            li.footer__submenu-item
                                a(href="#") Небольшие дома
                            li.footer__submenu-item
                                a(href="#") Дачные и садовые
                            li.footer__submenu-item
                                a(href="#") Бани
                            li.footer__submenu-item
                                a(href="#") Каркасные

                        a.footer__menu-link(href="#") Весь каталог

                    li.footer__menu-item
                        a(href="#")  Малые формы

                        ul.footer__submenu
                            li.footer__submenu-item
                                a(href="#") Беседки
                            li.footer__submenu-item
                                a(href="#") Хоз-блоки
                            li.footer__submenu-item
                                a(href="#") Домики для колодцев
                            li.footer__submenu-item
                                a(href="#") Дачные туалеты
                            li.footer__submenu-item
                                a(href="#") Детские домики

                        a.footer__menu-link(href="#") Весь каталог

                    li.footer__menu-item
                        a(href="#")  Домокомплекты

                        ul.footer__submenu
                            li.footer__submenu-item
                                a(href="#") Из клееного бруса
                            li.footer__submenu-item
                                a(href="#") Из дв ойного бруса
                            li.footer__submenu-item
                                a(href="#") Из мини бруса
                            li.footer__submenu-item
                                a(href="#") Из сухого проф. бруса
                            li.footer__submenu-item
                                a(href="#") Стеновые комплекты

                    li.footer__menu-item
                        a(href="#")  Выбор дома

                        ul.footer__submenu
                            li.footer__submenu-item
                                a(href="#") Ипотека и кредитование
                            li.footer__submenu-item
                                a(href="#") Блог
                            li.footer__submenu-item
                                a(href="#") Акции
                            li.footer__submenu-item
                                a(href="#") 7 шагов в дому вашей мечты

                    li.footer__menu-item
                        a(href="#")  Пиломатериалы

                        ul.footer__submenu
                            li.footer__submenu-item
                                a(href="#") Рейка подрамника и багет
                            li.footer__submenu-item
                                a(href="#") Погонаж сращенный
                            li.footer__submenu-item
                                a(href="#") Обрезной пиломатериал
                            li.footer__submenu-item
                                a(href="#") Отделочные материалы

                        a.footer__menu-link(href="#") Весь каталог

                    li.footer__menu-item
                        a(href="#")  О нас

                        ul.footer__submenu
                            li.footer__submenu-item
                                a(href="#") Фотогалерея
                            li.footer__submenu-item
                                a(href="#") Производство
                            li.footer__submenu-item
                                a(href="#") Отзывы
                            li.footer__submenu-item
                                a(href="#") Вакансии
                            li.footer__submenu-item
                                a(href="#") Контакты

        .footer__middle

            .container

                .footer__middle-inner

                    .footer__worktime
                        p.footer__worktime-worktime пн-пт: 9:00 - 18:00
                        p.footer__worktime-worktime сб-вс 10:00-15:00
                        p.footer__worktime-worktime-label Работаем ежедневно

                    .footer__address
                        p.footer__address-mail
                            a(href="mailto:dom@kluch585.ru") dom@kluch585.ru
                        p.footer__address-address г. Владимир, ул. Куйбышева, Д.28А (Тандем). 600035

                    .footer__call
                        p.footer__call-phone
                            a(href="tel:+7(920)911-93-91") +7 (920) 911-93-91
                        a.button-style.button-style--red(href="#") Связаться с нами

                    .footer__socials
                        p Мы в сетях:

                        .footer__socials-list
                            a(href="#")
                                i.fab.fa-vk
                            a(href="#")
                                i.fab.fa-instagram
                            a(href="#")
                                i.fab.fa-facebook
                            a(href="#")
                                i.fab.fa-odnoklassniki

        .footer__bottom

            .container

                .footer__bottom-inner

                    .footer__developer
                        a(href="https://di-project.studio/") Разработка сайта
                        | Di-Project.Studio

                    .footer__end

                        .footer__copyrights © Все права защищены

                        .footer__policy
                            a(href="#") Политика конфиденциальности