include _mixins
block header

    header#header.header

        .container

            .header__top

                .header__logo
                    a(href="/")
                        img(src="assets/images/logo.svg", alt="logo")

                nav.header__nav

                    // MOBILE MENU::Start
                    .mobile-close-menu
                        i.far.fa-times

                    .header__contact-mobile
                        .contact-number
                            a.header-number(href="tel:+7(920)911-93-91") +7 (920) 911-93-91
                            .header-callback Перезвоните мне
                        .whatsapp-icon
                            i.far.fa-whatsapp
                    // MOBILE MENU::End

                    ul.nav__menu

                        li.nav__menu-item.has-submenu
                            a.nav__menu-link Меню

                            ul.mob-menu
                                li.mob-menu__item
                                    a.mob-menu__link(href="#") Дома под ключ
                                    ul.mob-submenu
                                        li.mob-submenu__item.special
                                            a.mob-submenu__link(href="#") Коттеджи
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Небольшие дома
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Дачные и садовые
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Бани
                                        li.mob-submenu__item.special
                                            a.mob-submenu__link(href="#") Каркасные
                                    a.mob-menu-link(href="#") Весь каталог

                                li.mob-menu__item
                                    a.mob-menu__link(href="#") Малые формы
                                    ul.mob-submenu
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Беседки
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Хоз-блоки
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Домики для колодцев
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Дачные туалеты
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Детские домики
                                    a.mob-menu-link(href="#") Весь каталог

                                li.mob-menu__item
                                    a.mob-menu__link(href="#") Выбор дома
                                    ul.mob-submenu
                                        li.mob-submenu__item.special
                                            a.mob-submenu__link(href="#") Ипотека и кредитование
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Блог
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Акции
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") 7 шагов в дому вашей мечты
                                    a.mob-menu-link(href="#") Весь каталог

                                li.mob-menu__item
                                    a.mob-menu__link(href="#") Домокомплекты
                                    ul.mob-submenu
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Из клееного бруса
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Из двойного бруса
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Из мини бруса
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Из сухого проф. бруса
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Стеновые комплекты
                                    a.mob-menu-link(href="#") Весь каталог

                                li.mob-menu__item
                                    a.mob-menu__link(href="#") Пиломатериалы
                                    ul.mob-submenu
                                        li.mob-submenu__item.special
                                            a.mob-submenu__link(href="#") Рейка подрамника и багет
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Погонаж сращенный
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Обрезной пиломатериал
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Отделочные материалы
                                    a.mob-menu-link(href="#") Весь каталог

                                li.mob-menu__item
                                    a.mob-menu__link(href="#") О нас
                                    ul.mob-submenu
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Фотогалерея
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Производство
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Отзывы
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Вакансии
                                        li.mob-submenu__item
                                            a.mob-submenu__link(href="#") Контакты

                        li.nav__menu-item.has-submenu
                            a.nav__menu-link(href="#") Дома
                        li.nav__menu-item.has-submenu
                            a.nav__menu-link(href="#") Малые формы
                        li.nav__menu-item
                            a.nav__menu-link(href="#") Блог

                .header__contact
                    .contact-number
                        a.header-number(href="tel:+7(920)911-93-91") +7 (920) 911-93-91
                        .header-callback Перезвоните мне
                    .whatsapp-icon
                        i.far.fa-whatsapp

                .header__mob-menu
                    i.far.fa-bars