.category-page .page-head .s-title {

    @include breakpoint(md) {
        max-width: 402px;
    }

    @include breakpoint(hd) {
        max-width: 694px;
    }
}

.category-page section {
    padding-bottom: 0;

    @include breakpointMax(lg) {
        padding-top: 20px;
    }
}

.category-hero {
    padding-bottom: 60px;
    position: relative;

    @include breakpoint(md) {
        padding-bottom: 80px;
    }

    @include breakpoint(lg) {
        padding-bottom: 100px;
    }

    @include breakpoint(xl) {
        padding-bottom: 120px;
    }

    @include breakpoint(hd) {
        padding-bottom: 150px;
    }
}

.cat-hero__info-wrap {

    @include breakpoint(md) {
        display: flex;
    }
}

.cat-hero__info-wrapper {

    @include breakpoint(lg) {
        position: absolute;
        right: 28px;
        bottom: calc(100% + 28px);
        text-align: right;
    }

    @include breakpoint(xl) {
        right: 88px;
        bottom: calc(100% + 100px);
        display: flex;
        align-items: center;
        text-align: unset;
    }

    @include breakpoint(hd) {
        bottom: calc(100% + 145px);
    }
}

.cat-hero__info-wrapper .label-style {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 24px;

    @include breakpoint(md) {
        margin-bottom: 0;
        margin-right: 12px;
    }
}

.cat-hero__link {
    margin-top: 8px;
    position: relative;
    display: inline-block;

    @include breakpoint(md) {
        margin-top: 20px;
    }

    @include breakpoint(lg) {
        margin-top: 30px;
        margin-right: 12px;
    }

    @include breakpoint(xl) {
        margin-top: 0;
        margin-left: 28px;
    }

    @include breakpoint(hd) {
        margin-left: 88px;
    }
}

.cat-hero__link::after {
    content: '\f063';
    margin-left: 15px;
    font-family: $icon;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $red;
    text-align: center;
}

.cat-hero__link span {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    color: $black;
}

.cat-hero__image {
    margin-top: 30px;
    height: calc(100vw / 1.333);

    @include breakpoint(lg) {
        margin-top: 0;
    }
}

.category-info .s-title {
    margin: 0 0 30px;

    @include breakpoint(md) {
        margin: 0 0 40px;
    }

    @include breakpoint(xl) {
        margin: 0 0 50px;
    }

    @include breakpoint(xl) {
        margin: 0 0 60px;
    }
}

.info-nav {
    padding: 10px 0 12px;
    background: $gray6;

    @include breakpoint(lg) {
        padding: 10px 40px 12px;
    }

    @include breakpoint(xl) {
        padding: 10px 100px 12px;
    }
}

.info__nav-item {
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black;

    @include breakpoint(md) {
        font-size: 18px;
        line-height: 22px;
    }
}

.info__nav-item a {
    padding: 10px 24px;
    display: block;

    @include breakpoint(lg) {
        padding: 10px 24px;
    }
}

.info__nav-item:first-child a {

    @include breakpoint(lg) {
        padding-left: 0;
    }
}

.info-scheme {
    padding: 40px 0 60px;

    @include breakpoint(md) {
        padding: 60px 0 80px;
    }

    @include breakpoint(lg) {
        padding: 50px 0 100px;
    }

    @include breakpoint(xl) {
        padding: 60px 0 160px;
    }

    @include breakpoint(hd) {
        padding: 60px 0 180px;
    }
}

.info-scheme .s-title {

    @include breakpointMax(xl) {
        max-width: 568px;
    }
}

.scheme {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.scheme__image {
    height: calc((100vw - 40px) / 1.314);

    @include breakpoint(md) {
        width: calc(50% - 10px);
        height: calc((50vw - 30px) / 1.314);
    }

    @include breakpoint(lg) {
        width: calc(50% - 15px);
        height: calc((50vw - 60px) / 1.314);
    }

    @include breakpoint(xl) {
        width: calc(50% - 20px);
        height: calc((50vw - 125px) / 1.314);
    }
}

.scheme__image ~ .scheme__image {
    margin-top: 20px;
}

.info-description {
    padding: 60px 0 230px;
    background: $gray6;
    position: relative;

    @include breakpoint(md) {
        padding: 60px 0;
    }

    @include breakpoint(lg) {
        padding: 80px 0;
    }

    @include breakpoint(hd) {
        padding: 100px 0;
    }
}

.info-description .s-title {
    font-size: 20px;

    @include breakpoint(md) {
        margin-bottom: 40px;
        font-size: 30px;
        max-width: 535px;
    }
}

.desc {

    @include breakpoint(md) {
        position: relative;
    }
}

.desc__info {

    @include breakpoint(md) {
        width: calc((100% / 12) * 7);
    }

    @include breakpoint(xl) {
        width: calc((100% / 12) * 6);
    }
}

.desc__text {
    font-size: 20px;

    @include breakpoint(md) {
        max-width: 504px;
    }

    @include breakpoint(lg) {
        max-width: unset;
    }

    @include breakpoint(xl) {
        max-width: 720px;
    }
}

.desc__image {
    position: absolute;
    top: calc(100% + 40px);
    right: -30px;
    width: 290px;

    @include breakpoint(md) {
        top: -40px;
        right: -235px;
        width: 516px;
    }

    @include breakpoint(lg) {
        top: -120px;
        right: -150px;
    }

    @include breakpoint(xl) {
        top: -290px;
        right: -210px;
        width: 800px;
    }

    @include breakpoint(hd) {
        top: -300px;
        right: 140px;
    }
}

.info-equipment {
    margin-top: 60px;

    @include breakpoint(md) {
        margin-top: 80px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }

    @include breakpoint(hd) {
        margin-top: 150px;
    }
}

.info-equipment .s-title {

    @include breakpoint(md) {
        max-width: 534px;
    }

    @include breakpoint(xl) {
        max-width: unset;
    }
}

.equipment {

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.equipment__block {
    padding: 30px 44px 30px;
    background: $gray6;
    text-align: center;

    @include breakpoint(md) {
        margin-bottom: 20px;
        padding: 40px 75px 54px;
        width: calc(50% - 10px);
    }

    @include breakpoint(lg) {
        margin-bottom: 0;
        padding: 40px 36px 54px;
        width: calc((100% / 3) - 20px);
    }

    @include breakpoint(xl) {
        padding: 40px 53px 54px;
        width: calc((100% / 3) - 26.666px);
    }

    @include breakpoint(hd) {
        padding: 63px 123px 54px;
    }
}

.equipment__block ~ .equipment__block {

    @include breakpointMax(md) {
        margin-top: 20px;
    }
}

.equipment__block-icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;

    @include breakpoint(md) {
        width: 150px;
        height: 150px;
    }

    @include breakpoint(xl) {
        width: 200px;
        height: 200px;
    }

    @include breakpoint(hd) {
        width: 300px;
        height: 300px;
    }
}

.equipment__block-icon svg {
    fill: none;
}

.equipment__block-title {
    margin: 30px 0 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: $black;

    @include breakpoint(md) {
        margin: 40px 0;
        font-size: 25px;
    }

    @include breakpoint(xl) {
        margin: 40px 0 36px;
        font-size: 30px;
        line-height: 140%;
    }

    @include breakpoint(hd) {
        margin: 68px 0 36px;
    }
}

.equipment__block-btn {
    padding: 16px 54px;
}

.info-project {
    padding: 60px 0 75px;
    overflow-x: scroll;

    @include breakpoint(md) {
        padding: 80px 0;
    }

    @include breakpoint(lg) {
        padding: 100px 0;
        overflow: hidden;
    }

    @include breakpoint(xl) {
        padding: 120px 0;
    }
}

.info-project .s-title {
    max-width: 615px;

    @include breakpoint(lg) {
        max-width: 1030px;
    }
}

.p-table {
    min-width: 704px;
}

.p-table-row {
    display: flex;
    border-bottom: 1px solid $gray4;
}

.p-cell {
    padding: 20px 16px;
    min-width: calc(25% + 9.5px);
    max-width: calc(25% + 9.5px);
    font-size: 16px;
    line-height: 150%;
    color: $black;

    @include breakpoint(xl) {
        padding: 20px;
        min-width: calc(25% + 10px);
        max-width: calc(25% + 10px);
        font-size: 20px;
    }

    @include breakpoint(hd) {
        padding: 20px 40px;
    }
}

.p-cell:first-child {
    min-width: calc(25% - 14px);
    max-width: calc(25% - 14px);

    @include breakpoint(xl) {
        min-width: 270px;
        max-width: 270px;
    }
}

.p-table-head .p-cell {
    padding: 28px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $black;

    @include breakpoint(xl) {
        padding: 25px 20px;
        font-size: 20px;
    }

    @include breakpoint(hd) {
        padding: 20px 40px;
    }
}

.p-cell-head {
    padding: 20px 0;
    font-weight: 700;
}

.p-cell:nth-child(2) {
    background: #E3E9F6;
}

.p-cell:nth-child(3) {
    background: $gray6;
}

.project-file {
    padding: 50px 0;
    background: $gray6;

    @include breakpoint(lg) {
        padding: 56px 0 62px;
    }

    @include breakpoint(xl) {
        padding: 84px 0 86px;
    }
}

.p-file-bg {

    @include breakpointMax(md) {
        display: none;
    }

    @include breakpoint(md) {
        position: absolute;
        right: 0;
        width: 217px;
        opacity: 0.5;
    }

    @include breakpoint(lg) {
        top: -55px;
        right: 30%;
    }

    @include breakpoint(xl) {
        top: -85px;
        right: 23%;
    }
}

.project-file .s-title {
    max-width: 360px;

    @include breakpoint(md) {
        max-width: 544px;
    }

    @include breakpoint(lg) {
        margin: 0;
        position: relative;
    }

    @include breakpoint(xl) {
        max-width: unset;
    }
}

.project-file__wrap {

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.project-file .button-style {
    padding: 20px 66px;
    max-width: 280px;

    @include breakpoint(md) {
        padding: 20px 80px;
        max-width: 307px;
    }

    @include breakpoint(lg) {
        position: relative;
    }

    @include breakpoint(xl) {
        padding: 16px 54px;
        max-width: 255px;
    }
}

.category-accomp {
    margin: 60px auto 0;
    padding: 0;
    background: none;

    @include breakpoint(md) {
        margin-top: 80px;
        max-width: 704px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
        max-width: 1024px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
        max-width: 1400px;
    }

    @include breakpoint(hd) {
        margin-top: 150px;
        max-width: 1920px;
    }
}

.category-accomp .s-title {
    margin-bottom: 45px;

    @include breakpoint(md) {
        max-width: unset;
        text-align: left;
    }

    @include breakpoint(xl) {
        margin-bottom: 85px;
    }
}

.category-accomp .accomp__item {

    @include breakpoint(md) {
        text-align: left;
    }

    @include breakpoint(lg) {
        width: calc((100% - 30px) / 4);
    }
}

.category-accomp .accomp__item ~ .accomp__item::after {

    @include breakpoint(md) {
        right: calc(100% + 38px);
    }

    @include breakpoint(xl) {
        right: calc(100% + 30px);
    }

    @include breakpoint(hd) {
        right: calc(100% + 90px);
    }
}

.category-accomp .accomp__item:nth-child(4)::after {

    @include breakpoint(lg) {
        content: '';
    }
}

.category-accomp .accomp__item:nth-child(5)::after {

    @include breakpoint(xl) {
        content: none;
    }
}

.category-accomp .accomp__item:nth-child(6)::after {

    @include breakpoint(lg) {
        right: calc(100% + 86px)!important;
    }

    @include breakpoint(xl) {
        right: calc(100% + 100px)!important;
    }

    @include breakpoint(hd) {
        right: calc(100% + 200px)!important;
    }
}

.category-accomp .accomp__item:nth-child(7)::after {

    @include breakpoint(lg) {
        right: calc(100% + 86px)!important;
    }

    @include breakpoint(xl) {
        right: calc(100% + 100px)!important;
    }

    @include breakpoint(hd) {
        right: calc(100% + 200px)!important;
    }
}

.category-accomp .accomp__item h4 {

    @include breakpoint(md) {
        margin-left: 20px;
    }

    @include breakpoint(xl) {
        margin-left: 30px;
    }
}

.category-accomp .accomp__item h4::before {

    @include breakpoint(md) {
        left: -20px;
    }

    @include breakpoint(xl) {
        left: -30px;
    }
}

.category-accomp .accomp__item p {

    @include breakpoint(md) {
        margin-left: 0;
        margin-right: 0;
    }

    @include breakpoint(xl) {
        max-width: 270px;
    }

    @include breakpoint(hd) {
        max-width: 400px;
    }
}

.category-accomp .accomp__item span {
    display: inline-block;
    max-width: 375px;

    @include breakpoint(md) {
        margin-top: 8px;
    }

    @include breakpoint(xl) {
        margin-top: 16px;
        font-size: 20px;
    }
}

.finished-objects {

    @include breakpointMax(md) {
        margin-top: 60px;
    }
}

.finished-objects  .s-title {

    @include breakpoint(md) {
        max-width: 342px;
    }

    @include breakpoint(lg) {
        max-width: unset;
    }
}

.f-objects-slider {
    padding-bottom: 50px;

    @include breakpoint(md) {
        position: static;
    }
}

.objects-slider__img {
    width: 100%;
    height: calc((100vw - 40px) / 1.352);

    @include breakpoint(md) {
        height: calc((50vw - 30px) / 1.352);
    }

    @include breakpoint(lg) {
        height: calc(((100vw / 3) - 30px) / 1.352);
    }

    @include breakpoint(xl) {
        height: calc(((100vw / 3) - 86.666px) / 1.352);
    }

    @include breakpoint(hd) {
        width: 547px;
        height: 407px;
    }
}

.objects-slider__title {
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    @include textLimit(2);

    @include breakpoint(md) {
        margin-top: 25px;
        font-size: 20px;
        @include textLimit(3);
    }

    @include breakpoint(xl) {
        font-size: 30px;
        line-height: 140%;
    }
}

.objects-slider-pagination {

    @include breakpoint(md) {
        display: none;
    }
}

.objects-slider-buttons {

    @include breakpointMax(md) {
        display: none;
    }

    @include breakpoint(md) {
        right: 20px;
    }

    @include breakpoint(lg) {
        right: 40px;
    }

    @include breakpoint(xl) {
        right: 100px;
    }
}

.category-price {
    margin-top: 60px;

    @include breakpoint(md) {
        margin-top: 80px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }

    @include breakpoint(hd) {
        margin-top: 200px;
    }
}

.c-price__block {

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.c-price__item {
    padding: 30px 20px;
    background: #F2F2F2;
    position: relative;

    @include breakpoint(md) {
        margin-bottom: 20px;
        width: calc(50% - 10px);
    }

    @include breakpoint(lg) {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        width: calc((100% / 3) - 20px);
    }

    @include breakpoint(xl) {
        padding: 40px 30px;
        width: calc((100% / 3) - (80px / 3));
    }

    @include breakpoint(hd) {
        padding: 60px 50px;
    }
}

.c-price__item ~ .c-price__item {

    @include breakpointMax(md) {
        margin-top: 20px;
    }
}

.c-price__item * {
    position: relative;
}

.c-price__item::before {
    position: absolute;
    right: 10px;
    bottom: 174px;
    font-family: $icon;
    font-weight: 100;
    font-size: 87px;
    line-height: 1;
    color: #fff;
    opacity: 0.5;

    @include breakpoint(md) {
        right: 58px;
        bottom: 182px;
    }

    @include breakpoint(lg) {
        right: 10px;
        bottom: 174px;
    }

    @include breakpoint(xl) {
        right: 15px;
        bottom: 112px;
    }

    @include breakpoint(hd) {
        right: 25px;
        bottom: 169px;
        font-size: 179px;
    }
}

.c-price__item:nth-child(1)::before {
    content: '\e1b3';
}

.c-price__item:nth-child(2)::before {
    content: '\f015';
}

.c-price__item:nth-child(3)::before {
    content: '\f6f3';
}

.c-price__item-title {
    margin-bottom: 12px;
    max-width: 168px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;

    @include breakpoint(md) {
        margin-bottom: 8px;
        max-width: 208px;
        font-size: 20px;
    }

    @include breakpoint(xl) {
        margin-bottom: 34px;
        max-width: 312px;
        font-size: 30px;
        line-height: 140%;
    }

    @include breakpoint(hd) {
        max-width: 340px;
    }
}

.c-price__item-desc {
    margin-bottom: 20px;

    @include breakpoint(xl) {
        font-size: 20px;
    }
}

.c-price__item-spec {
    margin-bottom: 30px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: $red;

    @include breakpoint(lg) {
        margin-top: auto;
    }

    @include breakpoint(xl) {
        margin-bottom: 40px;
    }
}

.c-price__item-spec span {
    text-decoration-line: underline;
}

.c-price__item-spec::after {
    content: '\f061';
    margin-left: 12px;
    font-family: $icon;
    font-weight: 400;
}

.c-price__item-price {
    margin-bottom: 30px;
}

.c-price__item-price span {
    padding: 13px 20px;
    background: #FFFFFF;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 41px;
}

.c-price__item .button-style {
    padding: 16px 37px;
    text-align: center;

    @include breakpoint(xl) {
        max-width: 274px;
    }
}

.c-price-specification {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.c-price-specification.show {
    display: block;
}

.c-price-s-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.c-price-s-inner {
    padding: 60px 20px 30px;
    background: #FFFFFF;
    position: relative;
    max-width: 1200px;

    @include breakpoint(md) {
        padding: 50px 100px;
    }
}

.c-price-specification-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;

    @include breakpoint(md) {
        top: 50px;
        right: 50px;
        font-size: 40px;
    }
}

.c-price-s-wrap  h4 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;

    @include breakpoint(md) {
        margin-bottom: 32px;
        font-size: 30px;
    }
}

.c-price-s-wrap p {
    max-width: 987px;
}

.price-inlude {
    margin-top: 60px;

    @include breakpoint(md) {
        margin-top: 80px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }

    @include breakpoint(hd) {
        margin-top: 150px;
    }
}

.price-inlude .s-title {
    max-width: 500px;
}

.p-inlude__wrap {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
        justify-content: space-between;
        max-width: 744px;
    }

    @include breakpoint(lg) {
        max-width: 960px;
    }

    @include breakpoint(xl) {
        max-width: 1200px;
    }

    @include breakpoint(hd) {
        max-width: 1720px;
    }
}

.p-inlude__item {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    max-width: 300px;

    @include breakpoint(md) {
        margin-bottom: 30px;
        width: calc(50% - 10px);
        max-width: unset;
    }

    @include breakpoint(lg) {
        width: calc(50% - 15px);
    }

    @include breakpoint(xl) {
        width: calc(50% - 20px);
    }

    @include breakpoint(hd) {
        margin-bottom: 40px;
    }
}

.p-include__item-num {
    margin-top: -8px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    text-transform: uppercase;
    color: $red;

    @include breakpoint(md) {
        margin-top: -5px;
    }
}

.p-include__item-num::after {
    content: '';
    margin: 0 13px;
    background: $red;
    display: inline-block;
    width: 20px;
    height: 2px;

    @include breakpoint(lg) {
        margin: 0 20px;
        width: 50px;
    }

    @include breakpoint(xl) {
        margin: 0 25px;
        width: 68px;
    }
}

.p-inlude__item-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;

    @include breakpoint(md) {
        font-size: 20px;
        line-height: 30px;
    }

    @include breakpoint(xl) {
        margin-bottom: 4px;
    }

    @include breakpoint(hd) {
        margin-bottom: 20px;
    }
}

.p-inlude__item-text {

    @include breakpoint(xl) {
        font-size: 20px;
    }
}

.c-offers {
    margin-top: 100px;
    padding: 60px 0;
    background: $blue;
    position: relative;

    @include breakpoint(md) {
        margin-top: 60px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
        padding: 50px 0 76px;
    }

    @include breakpoint(xl) {
        margin-top: 175px;
        padding: 78px 0;
    }

    @include breakpoint(hd) {
        margin-top: 220px;
        padding: 110px 0;
    }
}

.c-offers .s-title {
    margin-bottom: 20px;
    color: #fff;

    @include breakpoint(md) {
        margin-bottom: 25px;
    }

    @include breakpoint(hd) {
        margin-bottom: 20px;
    }
}

.c-offers-block {

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
    }
}

.c-offers-bg {
    position: absolute;
    top: calc(50% - 45px);
    right: -8px;

    @include breakpoint(md) {
        top: -75px;
        right: -15px;
    }

    @include breakpoint(lg) {
        top: unset;
        right: 0;
        bottom: -76px;
    }

    @include breakpoint(hd) {
        bottom: -110px;
    }
}

.c-offers-bg::before {
    content: '';
    background: url('../images/dom-2.png') no-repeat;
    background-size: cover;
    display: block;
    width: 175px;
    height: 231px;

    @include breakpoint(md) {
        width: 364px;
        height: 465px;
    }

    @include breakpoint(lg) {
        width: 220px;
        height: 555px;
    }

    @include breakpoint(xl) {
        width: 569px;
    }

    @include breakpoint(hd) {
        width: 778px;
        height: 710px;
    }
}

.c-offers__left {

    @include breakpoint(md) {
        max-width: 432px;
    }

    @include breakpoint(hd) {
        max-width: 588px;
    }
}

.c-offers__left p {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;

    @include breakpoint(md) {
        margin-bottom: 25px;
        font-size: 20px;
    }

    @include breakpoint(hd) {
        margin-bottom: 55px;
    }
}

.c-offers__left .button-style {
    padding: 16px 25.5px;

    @include breakpoint(md) {
        padding: 16px 54px;
    }
}

.c-offers__right {
    margin-top: 25px;

    @include breakpoint(md) {
        margin-top: 45px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        margin-left: 46px;
    }

    @include breakpoint(xl) {
        margin-left: 40px;
    }

    @include breakpoint(hd) {
        margin-left: 100px;
    }
}

.c-offers-text ~ .c-offers-text {
    margin-top: 16px;

    @include breakpoint(md) {
        margin-top: 20px;
    }

    @include breakpoint(lg) {
        margin-top: 30px;
    }

    @include breakpoint(hd) {
        margin-top: 40px;
    }
}

.c-offers-text-s {
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    max-width: 130px;
    font-size: 14px;
    color: #fff;

    @include breakpoint(md) {
        max-width: unset;
        font-size: 20px;
    }
}

.c-offers-text-s::after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    display: inline-block;
    width: 85px;
    height: 1px;
    opacity: 0.3;

    @include breakpoint(md) {
        top: calc(100% + 15px);
        width: 100%;
    }
}

.c-offers-text-x {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;

    @include breakpoint(md) {
        font-size: 38px;
    }

    @include breakpoint(hd) {
        font-size: 50px;
        line-height: 70px;
    }
}

.c-offers__right .accreditation-wrap {
    margin-top: 48px;
    max-width: 225px;

    @include breakpoint(md) {
        position: absolute;
        left: 325px;
        bottom: 0;
        max-width: 260px;
    }

    @include breakpoint(lg) {
        position: static;
    }

    @include breakpoint(hd) {
        margin-top: 70px;
    }
}

.c-offers__right .accreditation-icon {
    max-width: 50px;
    max-height: 50px;

    @include breakpoint(md) {
        max-width: 60px;
        max-height: 60px;
    }
}

.c-offers__right .accreditation-icon:last-child {
    max-width: 100px;

    @include breakpoint(md) {
        max-width: 120px;
    }
}

.additional {
    margin-top: 60px;

    @include breakpoint(md) {
        margin-top: 80px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }

    @include breakpoint(hd) {
        margin-top: 150px;
    }
}

.additional__wrapper {

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.additional__block {
    display: flex;

    @include breakpoint(md) {
        margin-bottom: 40px;
        display: block;
        width: calc((100% / 3) - 20px);
    }

    @include breakpoint(xl) {
        margin-bottom: 50px;
        display: flex;
    }

    @include breakpoint(hd) {
        margin-bottom: 100px;
    }
}

.additional__block ~ .additional__block {

    @include breakpointMax(md) {
        margin-top: 30px;
    }
}

.additional__block:nth-child(n+4) {

    @include breakpoint(md) {
        margin-bottom: 0;
    }
}

.additional__ico {
    margin-right: 20px;
    fill: none;

    @include breakpoint(md) {
        margin: 0;
        margin-bottom: 30px;
    }

    @include breakpoint(xl) {
        margin: 0;
        margin-right: 30px;
    }

    @include breakpoint(hd) {
        margin-right: 40px;
    }
}

.additional__ico svg {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;

    @include breakpoint(md) {
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
    }
}

.additional__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;

    @include breakpoint(md) {
        font-size: 20px;
    }

    @include breakpoint(hd) {
        max-width: 348px;
        font-size: 25px;
    }
}

.similar-section {
    margin-top: 60px;

    @include breakpoint(md) {
        margin-top: 80px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }

    @include breakpoint(hd) {
        margin-top: 150px;
    }
}

.similar-section .s-title {

    @include breakpoint(md) {
        max-width: 645px;
    }

    @include breakpoint(xl) {
        max-width: unset;
    }
}

.similar-section .catalog__item {

    @include breakpoint(lg) {
        margin: 0;
        width: calc((100% / 3) - 20px);
    }

    @include breakpoint(xl) {
        width: calc((100% / 3) - 28px);
    }
}

.similar-section .catalog__item-image {

    @include breakpoint(lg) {
        height: calc(((100vw / 3) - 55px) / 1.333);
    }

    @include breakpoint(xl) {
        height: calc(((100vw / 3) - 100px) / 1.333);
    }

    @include breakpoint(hd) {
        height: 407px;
    }
}

.similar-section .catalog__item-title {

    @include breakpoint(lg) {
        margin-top: 10px;
        font-size: 20px;
    }

    @include breakpoint(xl) {
        margin-top: 25px;
    }

    @include breakpoint(hd) {
        font-size: 25px;
        line-height: 35px;
    }
}

.similar-section .catalog__item-price {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    @include breakpoint(md) {
        display: block;
        max-width: 195px;
    }

    @include breakpoint(hd) {
        margin-right: 12px;
        display: inline-block;
    }
}

.similar-section .catalog__item-qtr {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.similar-section .catalog__item-qtr + .catalog__item-qtr {
    margin-left: 12px;
}

.category-form {
    margin-top: 60px;
    background: $red;

    @include breakpoint(md) {
        margin-top: 80px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }

    @include breakpoint(hd) {
        margin-top: 150px;
    }
}

.category-form::before {
    background: #E11010;
}

.category-form .s-form__inner {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        align-items: flex-start;
    }
}

.category-form .s-form__label {

    @include breakpoint(md) {
        width: calc(((100% + 35px) / 12) * 5);
    }

    @include breakpoint(hd) {
        max-width: 456px;
    }
}

.category-form .form-question {

    @include breakpoint(md) {
        margin: 0;
        width: calc(((100% + 30px) / 12) * 6);
    }

    @include breakpoint(hd) {
        width: calc(((100% - 20px) / 12) * 5);
    }
}

.category-form .form-bg {

    @include breakpoint(md) {
        top: 0;
    }

    @include breakpoint(lg) {
        left: -200px;
    }

    @include breakpoint(hd) {
        left: -390px;
    }
}

.s-form__label p {

    @include breakpoint(lg) {
        font-size: 20px;
    }
}

.category-form .s-title {
    margin-bottom: 18px;
    max-width: 195px;

    @include breakpoint(md) {
        margin-bottom: 20px;
        max-width: 295px;
    }

    @include breakpoint(lg) {
        margin-bottom: 36px;
    }

    @include breakpoint(hd) {
        max-width: 412px;
    }
}

.s-form__contacts {
    margin-bottom: 8px;
    position: relative;
    z-index: 1;

    @include breakpoint(lg) {
        margin: 18px 0 40px;
        display: flex;
        align-items: center;
    }
}

.s-form-phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;

    @include breakpoint(lg) {
        margin-right: 30px;
    }

    @include breakpoint(hd) {
        margin-right: 70px;
    }
}

.s-form-socials {
    margin: 14px 0 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 155px;

    @include breakpoint(lg) {
        margin: 0;
    }
}

.s-form-socials a {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
}

.category-form .input-style {
    border-color: rgba(255,255,255,0.5);

    @include breakpoint(hd) {
        max-width: 546px;
    }
}

.category-form .s-form-submit {

    @include breakpoint(md) {
        display: block;
    }

    @include breakpoint(lg) {
        display: flex;
    }
}

.category-form .button-style {

    @include breakpoint(md) {
        padding: 16px 54px;
        max-width: 210px;
    }

    @include breakpoint(lg) {
        margin-right: 20px;
    }
}

.category-form .button-style input {
    font-weight: 500;
    color: $black;
}

.category-form .form-question-bottom {

    @include breakpoint(md) {
        margin: 18px 0 0;
    }

    @include breakpoint(lg) {
        margin: 0;
    }
}