.complement {
    padding: 40px 0 60px;

    @include breakpoint(md) {
        padding: 40px 0 80px;
    }

    @include breakpoint(lg) {
        padding: 55px 0 100px;
    }

    @include breakpoint(xl) {
        padding: 70px 0 120px;
    }

    @include breakpoint(hd) {
        padding: 50px 0 150px;
    }
}

p {
    max-height: 380px;
    mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(transparent));
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}