.e-commerce-item {

    @include breakpoint(md) {
        padding-top: 0;
        padding-bottom: 80px;
    }
}

.e-item-wrap {

    @include breakpoint(lg) {
        display: flex;
        justify-content: space-between;
    }
}

.e-item-slider {

    @include breakpoint(lg) {
        width: calc(50% - 15px);
    }

    @include breakpoint(xl) {
        width: calc(50% - 20px);
    }
}

.e-item__image {

    @include breakpoint(hd) {
        width: 840px;
        height: 630px;
    }
}

.e-item-desc {

    @include breakpoint(lg) {
        width: calc(50% - 15px);
    }

    @include breakpoint(xl) {
        width: calc(50% - 20px);
    }
}

.e-item-buttons {
    padding: 0 16px;
    position: absolute;
    top: calc(50% - (25px / 2));
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9;

    @include breakpoint(md) {
        padding: 0 20px;
        top: calc(50% - 20px);
    }

    @include breakpoint(hd) {
        padding: 0 30px;
    }
}

.e-item-btn {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;

    @include breakpoint(md) {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}

.e-item-slider__nav {
    margin-top: 20px;

    @include breakpoint(lg) {
        margin-top: 30px;
    }

    @include breakpoint(xl) {
        margin-top: 40px;
    }
}

.e-nav__image {
    position: relative;
    height: 40px;
    cursor: pointer;

    @include breakpoint(md) {
        height: 74px;
    }

    @include breakpoint(lg) {
        height: 67px;
    }

    @include breakpoint(xl) {
        height: 62px;
    }

    @include breakpoint(hd) {
        height: 80px;
    }
}

.e-nav__image::after {
    content: '';
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: all 0.5s ease;
}

.e-nav__image img {
    object-fit: cover;
}

.swiper-slide-thumb-active .e-nav__image::after {
    opacity: 0;
}

.e-item-title {
    margin-top: 30px;
    font-size: 20px;

    @include breakpoint(md) {
        margin-top: 50px;
        max-width: 584px;
        font-size: 25px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        max-width: 458px;
    }

    @include breakpoint(xl) {
        max-width: 580px;
        font-size: 30px;
    }

    @include breakpoint(hd) {
        max-width: 734px;
    }
}

.e-item__text {
    margin-top: 16px;

    @include breakpoint(md) {
        margin-top: 20px;
    }

    @include breakpoint(xl) {
        margin-top: 30px;
        font-size: 20px;
    }

    @include breakpoint(hd) {
        margin-top: 34px;
    }
}

.e-item__code {
    margin-top: 30px;

    @include breakpoint(xl) {
        margin-top: 40px;
    }
}

.e-item__size {
    margin-top: 14px;
}

.e-item__price {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;

    @include breakpoint(md) {
        font-size: 25px;
    }

    @include breakpoint(xl) {
        font-size: 30px;
    }
}

.e-item__buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 280px;

    @include breakpoint(md) {
        margin-top: 30px;
        justify-content: unset;
        max-width: 665px;
    }

    @include breakpoint(lg) {
        margin-top: 20px;
        max-width: 310px;
    }

    @include breakpoint(xl) {
        margin-top: 30px;
        max-width: 580px;
    }

    @include breakpoint(hd) {
        max-width: 654px;
    }
}

.e-item__quantity {
    width: calc(50% - 30px);
    order: 2;
    border: 1px solid #E0E0E0;

    @include breakpoint(md) {
        width: 110px;
        order: 1;
    }

    @include breakpoint(lg) {
        order: 2;
    }

    @include breakpoint(xl) {
        order: 1;
    }
}
.e-item__quantity input {
    padding: 14px 20px;
    box-sizing: border-box;

    @include breakpoint(md) {
        height: auto;
        font-size: 17px;
        line-height: 150%;
    }
}

// .e-item__quantity input::-webkit-outer-spin-button,
// .e-item__quantity input::-webkit-inner-spin-button {
//     -webkit-appearance: unset;
// }

// .e-item__quantity input[type=number] {
//     -moz-appearance: textfield;
// }

.e-item__buttons .button-style {
    padding: 16px 0;
    text-align: center;

    @include breakpoint(md) {
        padding: 16px 54px;
    }
}

.e-item__buttons .button-style--blue {
    margin-bottom: 20px;
    width: 100%;
    order: 1;

    @include breakpoint(md) {
        margin-bottom: 0;
        margin-left: 14px;
        width: 294px;
        order: 3;
    }

    @include breakpoint(lg) {
        margin-bottom: 20px;
        margin-left: 0;
        width: 310px;
        order: 1;
    }

    @include breakpoint(xl) {
        margin-bottom: 0;
        margin-left: 14px;
        padding: 16px 0;
        width: 250px;
        order: 3;
    }

    @include breakpoint(hd) {
        width: 294px;
    }
}

.e-item__buttons .button-style--red {
    width: calc(50% + 10px);
    order: 2;

    @include breakpoint(md) {
        margin-left: 30px;
        width: 208px;
    }

    @include breakpoint(lg) {
        margin-left: 20px;
        padding: 16px 0;
        max-width: 180px;
        order: 3;
    }

    @include breakpoint(xl) {
        order: 2;
    }

    @include breakpoint(hd) {
        margin-left: 30px;
        max-width: 206px;
    }
}

.e-item-info {
    margin-top: 118px;

    @include breakpoint(md) {
        margin-top: 50px;
    }

    @include breakpoint(lg) {
        margin-top: 60px;
    }

    @include breakpoint(hd) {
        margin-top: 70px;
    }
}

.e-item-info-nav {
    padding: 10px 21px;
    background: #F2F2F2;

    @include breakpoint(lg) {
        padding: 10px 42px;
    }

    @include breakpoint(xl) {
        padding: 10px 100px;
    }
}

.e-item-nav__lnk {
    padding: 10px 0;
    width: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    border-radius: 77px;
    cursor: pointer;

    @include breakpoint(md) {
        margin-right: 35px;
    }

    @include breakpoint(lg) {
        margin-right: 55px;
    }
}

.e-item-nav__lnk.active {
    padding-left: 24px;
    padding-right: 24px;
    background: #FFFFFF;
}

.e-item-info-container {
    padding: 30px 0 60px;

    @include breakpoint(md) {
        padding: 30px 0 60px;
    }

    @include breakpoint(lg) {
        padding: 50px 0 60px;
    }

    @include breakpoint(xl) {
        padding: 60px 0 80px;
    }

    @include breakpoint(hd) {
        padding: 60px 0 100px;
    }
}

.e-item-info-content {
    display: none;
}

.e-item-info-content.active {
    display: block;
}

.e-item-info-table {
    padding: 0 12px;
    border: 1px solid #BDBDBD;

    @include breakpoint(md) {
        padding: 0 20px;
    }

    @include breakpoint(lg) {
        padding: 0 30px;
        max-width: 890px;
    }

    @include breakpoint(hd) {
        max-width: 1280px;
    }
}

.e-table-row {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
        padding: 25px 0;
        justify-content: unset;
    }
}

.e-table-row ~ .e-table-row {
    border-top: 1px solid #BDBDBD;
}

.e-table-label {
    width: calc(50% - 10px);
    font-weight: 700;
    font-size: 14px;
    color: $black;

    @include breakpoint(md) {
        width: calc(((100% / 12) * 5) - 15px);
        font-size: 16px;
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 5) - 45px);
        font-size: 20px;
    }

    @include breakpoint(xl) {
        width: calc((100% / 12) * 4);
        font-size: 20px;
    }

    @include breakpoint(hd) {
        width: calc((100% / 9) * 4);
    }
}

.e-table-value {
    width: calc(50% - 10px);
    font-size: 14px;

    @include breakpoint(md) {
        width: calc(((100% / 12) * 7) - 15px);
        font-size: 16px;
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 7) - 45px);
        font-size: 20px;
    }

    @include breakpoint(xl) {
        width: calc((100% / 12) * 8);
        font-size: 20px;
    }

    @include breakpoint(hd) {
        width: calc((100% / 9) * 5);
    }
}

.e-commerce-item .similar-section {
    margin-top: 0;
}

.e-commerce-item .similar-section .s-title {
    margin: 0;
    margin-bottom: 30px;

    @include breakpoint(xl) {
        margin-bottom: 48px;
    }

    @include breakpoint(hd) {
        margin-bottom: 58px;
    }
}

.e-commerce-item .catalog__item {

    @include breakpoint(lg) {
        width: calc(25% - (90px / 4));
    }

    @include breakpoint(xl) {
        width: calc(25% - (120px / 4));
    }

    @include breakpoint(hd) {
        width: 400px;
    }
}

.e-commerce-item .catalog__item-image {

    @include breakpoint(lg) {
        height: calc((25vw - 40px) / 1.333);
    }

    @include breakpoint(xl) {
        height: calc((25vw - 80px) / 1.333);
    }

    @include breakpoint(hd) {
        height: 300px;
    }
}

.e-commerce-item .catalog__item-title {
    margin-top: 16px;
    font-size: 14px;

    @include breakpoint(xl) {
        margin-top: 20px;
        font-size: 16px;
    }
}

.e-commerce-item .catalog__item-price {
    margin-top: 16px;

    @include breakpoint(xl) {
        margin-top: 20px;
    }
}

.e-commerce-item .catalog__item-price .label-style {
    font-size: 16px;
}