.e-commerce {
    padding-top: 0;
}

.e-catalog-aside {
    padding: 50px 0;
    background: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 0.5s ease;
}

.e-catalog-aside.open {
    left: 0;
}

.e-navbar-back-mobile {
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px 0;
    width: 100%;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
}

.e-navbar-back-mobile::before {
    content: '\f177';
    font-family: $icon;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}

.e-navbar__item {
    padding: 28px 20px;
    background: #F2F2F2;
    position: relative;
    cursor: pointer;
}

.e-navbar__item::after {
    content: '\f0da';
    position: absolute;
    top: 31px;
    right: 20px;
    font-family: $fa5;
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    color: $red;
    transition: all 0.5s ease;
}

.e-navbar__item.active::after {
    transform: rotate(90deg);
}

.e-navbar__item ~ .e-navbar__item {
    margin-top: 15px;
}

.e-navbar__link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    @include breakpoint(xl) {
        font-size: 16px;
    }
}

.e-subnav {
    margin-top: 20px;
    padding: 0 20px;
    display: none;
}

.e-subnav__item ~ .e-subnav__item {
    margin-top: 10px;
}

.e-catalog-filters {

    @include breakpoint(md) {
        margin: 34px 0 30px;
        display: flex;
        align-items: center;
    }
}

.e-navbar-mobile {
    margin-top: 40px;
    padding: 13px 0;
    width: 100%;
    max-width: 280px;
    text-align: center;

    @include breakpoint(md) {
        margin-top: 0;
        max-width: 140px;
    }
}

.e-filters__result {
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
    color: $blue;

    @include breakpoint(md) {
        margin-top: 0;
        margin-left: 60px;
        max-width: 150px;
    }
}

.e-filter-select {
    margin-top: 30px;
    position: relative;

    @include breakpoint(md) {
        margin-top: 0;
        margin-left: auto;
    }
}

.e-orderby {
    padding: 15px 15px 15px 20px;
    width: 100%;
    border: 1px solid #E0E0E0;
    appearance: none;
}

.e-filter-select::after {
    content: '\f0d7';
    position: absolute;
    top: 21px;
    right: 20px;
    font-family: $fa5;
    font-weight: 900;
    font-size: 13px;
    line-height: 1;
    color: $gray2;
}

.e-catalog-wrap {
    margin-top: 20px;

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.e-catalog__block {

    @include breakpoint(md) {
        width: calc((100% / 3) - (40px / 3));
    }
}

.e-catalog__block ~ .e-catalog__block {

    @include breakpointMax(md) {
        margin-top: 30px;
    }
}

.e-catalog__img {
    height: calc((100vw - 40px) / 1.333);

    @include breakpoint(md) {
        height: calc((100vw / 3) / 1.333 - 20px);
    }
}

.e-cactalog__title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 14px;
    color: $black;
    text-transform: uppercase;
}

.e-cactalog__label {
    margin-top: 16px;
}