.popup

    .popup__inner.animate__animated.animate__fadeInDown
        .popup-close#popup-close

        .project-dwld-popup

            h3.project-dwld-title Заполните форму, чтобы Скачать этот проект бесплатно .pdf

            form

                .input-style
                    input(type="text" placeholder="Имя")

                .input-style
                    input(type="text" placeholder="Телефон")

                .input-style
                    input(type="email" placeholder="Почта")

                .project-dwld-bottom
                    input.button-style.button-style--red(type="submit" value="Отправить")
                    .dwld-form-agreement
                        span Согласен(на) на <a href="#">обработку персональных данных</a>