<div class="popup">
    <div class="popup__inner animate__animated animate__fadeInDown">
        <div class="popup-close" id="popup-close"></div>
        <div class="project-dwld-popup">
            <h3 class="project-dwld-title">Заполните форму, чтобы Скачать этот проект бесплатно .pdf</h3>
            <form>
                <div class="input-style">
                    <input type="text" placeholder="Имя" />
                </div>
                <div class="input-style">
                    <input type="text" placeholder="Телефон" />
                </div>
                <div class="input-style">
                    <input type="email" placeholder="Почта" />
                </div>
                <div class="project-dwld-bottom">
                    <input class="button-style button-style--red" type="submit" value="Отправить" />
                    <div class="dwld-form-agreement"><span>Согласен(на) на <a href="#">обработку персональных данных</a></span></div>
                </div>
            </form>
        </div>
    </div>
</div>