.header__top {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    @include breakpoint(md) {
        padding: 20px 0 25px;
        align-items: center;
    }

    @include breakpoint(lg) {
        padding: 25px 0;
    }

    @include breakpoint(xl) {
        padding: 34px 0 44px;
    }

    @include breakpoint(hd) {
        padding: 34px 0 55px;
    }
}

.header__logo {

    @include breakpoint(md) {
        width: 162px;
        height: 68px;
    }

    @include breakpoint(xl) {
        width: 202px;
        height: 85px;
    }
}

.header__nav {

    @include breakpointMax(lg) {
        padding: 176px 42px 0;
        background: $gray6;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transition: left 0.5s ease;
        z-index: 10;
    }

    @include breakpoint(md) {
        padding: 100px 50px 0;
    }

    @include breakpoint(lg) {
        padding: 0;
    }
}

.header__nav.mobile-menu {

    @include breakpointMax(lg) {
        left: 0;
    }
}

.mobile-close-menu {
    position: absolute;
    top: 28px;
    right: 20px;
    font-size: 32px;
    line-height: 1;
    color: $blue;
    cursor: pointer;

    @include breakpoint(md) {
        top: 45px;
    }

    @include breakpoint(lg) {
        display: none;
    }
}

.header__contact-mobile {

    @include breakpointMax(md) {
        position: absolute;
        top: 80px;
        left: 20px;
        display: flex;
        z-index: 11;
    }

    @include breakpoint(md) {
        display: none;
    }
}

.mob-menu {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        display: none;
    }
}

.mob-menu__item {
    margin-bottom: 40px;

    @include breakpoint(md) {
        margin-bottom: 60px;
        max-width: 305px;
    }
}

.mob-menu__item:nth-child(odd) {

    @include breakpoint(md) {
        width: calc((100% / 12) * 7);
    }
}

.mob-menu__item:nth-child(even) {

    @include breakpoint(md) {
        width: calc((100% / 12) * 5);
    }
}

.mob-submenu {
    margin-top: 22px;

    @include breakpoint(md) {
        margin-top: 30px;
    }
}

.mob-submenu__item {
    margin-bottom: 15px;
    position: relative;

    @include breakpoint(md) {
        margin-bottom: 20px;
    }
}

.mob-submenu__item.special::before {

    @include breakpointMax(lg) {
        content: '\f005';
        position: absolute;
        top: 6px;
        left: -20px;
        display: inline-block;
        font-family: $fa5;
        font-weight: 900;
        font-size: 12px;
        line-height: 1;
        color: $red;
    }

    @include breakpoint(md) {
        left: -29px;
        font-size: 13px;
    }
}

.mob-submenu__link {
    color: #777;
}

.mob-menu-link {
    margin-top: 7px;
    display: inline-block;
    color: $red;
    text-decoration: underline;

    @include breakpoint(md) {
        margin-top: 10px;
    }
}

.nav__menu {

    @include breakpoint(lg) {
        display: flex;
    }
}

.nav__menu-item ~ .nav__menu-item {

    @include breakpoint(lg) {
        margin-left: 22px;
    }

    @include breakpoint(xl) {
        margin-left: 40px;
    }
}

.nav__menu-item:first-child::before {

    @include breakpoint(lg) {
        content: '\f0c9';
        margin-right: 8px;
        font-family: $icon;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: $blue;
    }

    @include breakpoint(xl) {
        font-size: 18px;
    }
}

.nav__menu-item.has-submenu:not(:first-child)::after {

    @include breakpoint(lg) {
        content: '\f078';
        margin-left: 8px;
        font-family: $icon;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: $blue;
    }

    @include breakpoint(xl) {
        font-size: 18px;
    }
}

.nav__menu-item:hover *,
.nav__menu-item:hover::before,
.nav__menu-item:hover::after {

    @include breakpoint(lg) {
        color: $red;
    }
}

.nav__menu-link {

    @include breakpointMax(lg) {
        display: none;
    }

    @include breakpoint(lg) {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $blue;
        text-transform: uppercase;
    }

    @include breakpoint(xl) {
        font-size: 20px;
        line-height: 24px;
    }

    @include breakpoint(hd) {
        font-size: 22px;
        line-height: 27px;
    }
}

.header__contact {
    display: none;

    @include breakpoint(md) {
        margin-left: auto;
        margin-right: 100px;
        display: flex;
    }

    @include breakpoint(lg) {
        margin: 0;
    }
}

.contact-number {
    text-align: right;
}

.header-number {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    @include breakpoint(hd) {
        font-size: 22px;
        line-height: 30px;
    }
}

.header-callback {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #96969C;
    border-bottom: 2px dashed #96969C;
    cursor: pointer;

    @include breakpoint(hd) {
        font-size: 18px;
        line-height: 22px;
    }
}

.header-callback:hover {
    color: $red;
    border-color: $red;
}

.whatsapp-icon {
    margin-left: 24px;
    font-size: 32px;
    line-height: 37px;
    color: $blue;

    @include breakpoint(xl) {
        margin-left: 36px;
    }

    @include breakpoint(hd) {
        margin-left: 40px;
    }
}

.header__mob-menu {
    margin-top: auto;
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1;
    color: $blue;
    cursor: pointer;

    @include breakpoint(md) {
        margin: 0;
    }

    @include breakpoint(lg) {
        display: none;
    }
}