---
title: Klyuch 585 | О нас
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О компании', 'О нас')

    section.about-section

        .container

            .about-section-wrapper

                .about__top

                    .about__text

                        p Компания Ключ585 основана в 1998 году как деревообрабатывающее предприятие. Постепенно, развиваясь, мы освоили технологии позволяющие выпускать разнообразную продукцию из дерева высокого качества. Мы выпускаем обрезную доску, брус с хорошей геометрией распила, сушим пиломатериал в мягких режимах, что гарантирует высокое качество сухой заготовки.

                        p Основными направлениями для нас являются:

                        ul

                            li Услуги по строительству домов из бруса, оцилиндрованного бревна, клеёного бруса.

                            li Изготовление из сухого массива хвои профилированного строганного бруса, доски пола, вагонки, четверти для строительства и отделочных работ и деревянного домостроения;

                            li Производство погонажа: уголка, дверного бруса, различного плинтуса, нащельника, наличника;

                        p Свою продукцию мы поставляем в крупнейшие сети магазинов строительных материалов. Главным своим достижением за эти годы считаем доверие наших покупателей, завоёванное добросовестной работой и качественной продукцией.

                    .about__media

                        .about__stat

                            .about__stat-item

                                .about__stat-item-number 1998

                                .about__stat-item-text год основания

                            .about__stat-item

                                .about__stat-item-number 1500+

                                .about__stat-item-text домов построили

                            .about__stat-item

                                .about__stat-item-number 75+

                                .about__stat-item-text человек в&nbsp;команде

                        .about__video

                            .video-play
                                i.fad.fa-play
                            video#video(src="assets/images/video.mp4" poster="assets/images/video.jpg")

                .about__bottom

                    .about__title Ключ 585 – надежный партнер в строительстве дома

                    .about__advantages

                        .about__advantage

                            .about__advantage-icon
                                i.fal.fa-house-tree

                            .about__advantage-title Собственное высокотехнологичное производство

                        .about__advantage

                            .about__advantage-icon
                                i.fal.fa-users-slash

                            .about__advantage-title Отсутствие посредников

                        .about__advantage

                            .about__advantage-icon
                                i.fal.fa-file-check

                            .about__advantage-title Честная стоимость зафиксированная договором

                        .about__advantage

                            .about__advantage-icon
                                i.fal.fa-house-laptop

                            .about__advantage-title Автоматизированные процессы производства

                        .about__advantage

                            .about__advantage-icon
                                i.fal.fa-industry

                            .about__advantage-title Собственный кровельный цех

                        .about__advantage

                            .about__advantage-icon
                                i.fal.fa-truck

                            .about__advantage-title Собственный автопарк для доставки
