---
title: Klyuch 585 | Каталог
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Каталог проектов', 'Каталог')

    section.catalog

        .container

            .catalog__inner

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-4.jpg", alt="img")
                        p.catalog__item-title Коттеджи
                        .catalog__item-price
                            p.label-style.label-style--red от 1 680 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-2.jpg", alt="img")
                        p.catalog__item-title Небольшие дома
                        .catalog__item-price
                            p.label-style.label-style--red от 2 349 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-3.jpg", alt="img")
                        p.catalog__item-title Дачные и садовые
                        .catalog__item-price
                            p.label-style.label-style--red от 179 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-4.jpg", alt="img")
                        p.catalog__item-title Бани
                        .catalog__item-price
                            p.label-style.label-style--red от 1 102 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-5.jpg", alt="img")
                        p.catalog__item-title Барнхаусы
                        .catalog__item-price
                            p.label-style.label-style--red от 1 958 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-6.jpg", alt="img")
                        p.catalog__item-title Модульные дома
                        .catalog__item-price
                            p.label-style.label-style--red от 179 000 ₽

    .catalog__blog

        .container

            h2.s-title Полезные материалы

            .cat__wrapper

                .cat__item

                    .cat__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .cat__item-content

                        .cat__item-title Дом для постоянного проживания - о чем нужно знать

                        .cat__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .cat__item

                        .cat__item-img

                            img(src="assets/images/news-item.png", alt="")

                        .cat__item-content

                            .cat__item-title Дом для постоянного проживания - о чем нужно знать

                            .cat__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .cat__item

                        .cat__item-img

                            img(src="assets/images/news-item.png", alt="")

                        .cat__item-content

                            .cat__item-title Дом для постоянного проживания - о чем нужно знать

                            .cat__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.