---
title: Klyuch 585 | Каталог
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Каталог проектов', 'Каталог')

    section.catalog

        .container

            .catalog__inner

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-4.jpg", alt="img")
                        p.catalog__item-title Коттеджи
                        p.catalog__item-price.label-style.label-style--red от 1 680 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-2.jpg", alt="img")
                        p.catalog__item-title Небольшие дома
                        p.catalog__item-price.label-style.label-style--red от 2 349 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-3.jpg", alt="img")
                        p.catalog__item-title Дачные и садовые
                        p.catalog__item-price.label-style.label-style--red от 179 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-4.jpg", alt="img")
                        p.catalog__item-title Бани
                        p.catalog__item-price.label-style.label-style--red от 1 102 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-5.jpg", alt="img")
                        p.catalog__item-title Барнхаусы
                        p.catalog__item-price.label-style.label-style--red от 1 958 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-6.jpg", alt="img")
                        p.catalog__item-title Модульные дома
                        p.catalog__item-price.label-style.label-style--red от 179 000 ₽