---
title: Klyuch 585 | Дом из клееного бруса «Эдем»
bodyClass: category-page
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('Дом из клееного бруса «Эдем»', 'Каталог', 'Каркасные дома', 'Дом из клееного бруса «Эдем»')

    section.category

        .category-hero

            .cat-hero__info

                .container

                    .cat-hero__info-wrapper

                        .cat-hero__info-wrap

                            div
                                .label-style.label-style--blue 5 940 000 ₽
                            div
                                .label-style.label-style--gray 8,5 х 10,5м
                            div
                                .label-style.label-style--gray 126м²

                        a.cat-hero__link(href="#")
                            span Подробнее о доме

            .cat-hero__image
                img(src="assets/images/image-64.jpg", alt="img")

        .category-info

            .info-nav

                .swiper.info__nav

                    .swiper-wrapper

                        .swiper-slide.info__nav-item
                            a(href="#scheme") Планировка
                        .swiper-slide.info__nav-item
                            a(href="#description") Описание
                        .swiper-slide.info__nav-item
                            a(href="#equipment") Комплектация
                        .swiper-slide.info__nav-item
                            a(href="#project") Проект
                        .swiper-slide.info__nav-item
                            a(href="#finished") Построенные объекты
                        .swiper-slide.info__nav-item
                            a(href="#price") Цены

            .info-scheme#scheme

                .container

                    h2.s-title Рекомендуемая планировка

                    .scheme

                        .scheme__image
                            img(src="assets/images/image-65.png", alt="img")

                        .scheme__image
                            img(src="assets/images/image-66.png", alt="img")

            .info-description#description

                .container

                    h2.s-title Дом из клееного бруса «Эдем»  —  проект большого дома с мансардой.

                    .desc

                        .desc__info
                            p.desc__text Прекрасный вариант для небольшой семьи, которая любит уют и комфорт. Здесь хватит места каждому члену семьи. Большим преимуществом дома является большая кухня-гостиная и наличие большой террасы. В любое время года есть место для общего времяпрепровождения. Много места для хранения вещей на втором этаже, но вы можете поменять планировку под себя.

                        .desc__image
                            img(src="assets/images/home-1.png", alt="img")

            .info-equipment#equipment

                .container

                    h2.s-title Этот же дом в&nbsp;другом исполнении

                    .equipment

                        .equipment__block
                            .equipment__block-icon
                                +sprite('equip-1')
                            .equipment__block-title Каркасный
                            a(href="#").equipment__block-btn.button-style.button-style--red Выбрать

                        .equipment__block
                            .equipment__block-icon
                                +sprite('equip-2')
                            .equipment__block-title Клееный
                            a(href="#").equipment__block-btn.button-style.button-style--red Выбрать

                        .equipment__block
                            .equipment__block-icon
                                +sprite('equip-3')
                            .equipment__block-title Двойной брус
                            a(href="#").equipment__block-btn.button-style.button-style--red Выбрать

            .info-project#project

                .container

                    h2.s-title Дом под ключ VS домокомплект VS тёплый контур

                    .project

                        .p-table

                            .p-table-row.p-table-head
                                .p-cell
                                .p-cell Дом под ключ
                                .p-cell Теплый контур
                                .p-cell Домкомплект

                            .p-table-row
                                .p-cell.p-cell-head Сроки
                                .p-cell до 100 дней.
                                .p-cell до 100 дней.
                                .p-cell Может затянуться на годы.

                            .p-table-row
                                .p-cell.p-cell-head Цена
                                .p-cell Фиксируется договором.
                                .p-cell Фиксируется договором.
                                .p-cell Непредсказуемая, постоянно требует вложений.

                            .p-table-row
                                .p-cell.p-cell-head Качество
                                .p-cell Дом собирается в теплых, контролируемых условиях цеха, что гарантирует герметичность и долговечность конструкций.
                                .p-cell Дом собирается в теплых, контролируемых условиях цеха, что гарантирует герметичность и долговечность конструкций.
                                .p-cell Непредсказуемые погодные условия могут повлиять на материалы и качество строительства.

                            .p-table-row
                                .p-cell.p-cell-head Аккуратность
                                .p-cell Модули устанавливаются на фундамент с помощью крана. Последующие этапы монтажа не предполагают стройки, грязи и работы тяжёлой техник.
                                .p-cell Модули устанавливаются на фундамент с помощью крана. Последующие этапы монтажа не предполагают стройки, грязи и работы тяжёлой техник.
                                .p-cell На участке грязь, мусор, строительные отходы.

                            .p-table-row
                                .p-cell.p-cell-head Надёжность
                                .p-cell Применяемые решения испытаны в эксплуатации. Есть гарантия.
                                .p-cell Применяемые решения испытаны в эксплуатации. Есть гарантия.
                                .p-cell Могут появляться неучтенные моменты: собираться конденсат, дуть из щелей, потечь крыша, намокать стены.

            .project-file

                .container
                    .p-file-bg
                        img(src="assets/images/star.png", alt="bg")

                    .project-file__wrap

                        h2.s-title Скачать этот проект бесплатно .pdf
                        a#project-dwld.button-style.button-style--red Скачать проект

            .category-accomp.accompaniment

                .container

                    h2.s-title 7 шагов к вашему дому

                    .accomp__inner

                        .accomp__item
                            h4 01
                            p Визит на выставочную площадку
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.
                        .accomp__item
                            h4 02
                            p Заключение договора
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.
                        .accomp__item
                            h4 03
                            p Производство
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.
                        .accomp__item
                            h4 04
                            p Доставка/логистика
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.
                        .accomp__item
                            h4 05
                            p Строительство
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.
                        .accomp__item
                            h4 06
                            p Сдача
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.
                        .accomp__item
                            h4 07
                            p Гарантия и обслуживание
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet donec cursus eu.

            .finished-objects#finished

                .container

                    h2.s-title Построенные проекты

                    .swiper.f-objects-slider

                        .swiper-wrapper

                            .swiper-slide.objects-slider__item
                                .objects-slider__img
                                    img(src="assets/images/image-59.jpg", alt="img")
                                p.objects-slider__title Дом из клееного бруса «Антолла»

                            .swiper-slide.objects-slider__item
                                .objects-slider__img
                                    img(src="assets/images/image-60.jpg", alt="img")
                                p.objects-slider__title Дом из клееного бруса по индивидуальному проекту

                            .swiper-slide.objects-slider__item
                                .objects-slider__img
                                    img(src="assets/images/image-61.jpg", alt="img")
                                p.objects-slider__title Каркасный дом по индивидуальному проекту

                            .swiper-slide.objects-slider__item
                                .objects-slider__img
                                    img(src="assets/images/image-59.jpg", alt="img")
                                p.objects-slider__title Дом из клееного бруса «Антолла»

                            .swiper-slide.objects-slider__item
                                .objects-slider__img
                                    img(src="assets/images/image-60.jpg", alt="img")
                                p.objects-slider__title Дом из клееного бруса по индивидуальному проекту

                            .swiper-slide.objects-slider__item
                                .objects-slider__img
                                    img(src="assets/images/image-61.jpg", alt="img")
                                p.objects-slider__title Каркасный дом по индивидуальному проекту

                        .objects-slider-pagination.swiper-pagination

                        .objects-slider-buttons.slider-buttons
                            .slider-button.button-prev
                                i.far.fa-chevron-left
                            .slider-button.button-next
                                i.far.fa-chevron-right

            .category-price#price

                .container

                    h2.s-title Цены

                    .c-price__block

                        .c-price__item
                            h4.c-price__item-title цена домокомплекта
                            p.c-price__item-desc Какое-то короткое описание, поясняющее в чём заключается предложение и его особенности, отличие от других предложений
                            a.c-price__item-spec(data-spec="1")
                                span Посмотреть спецификацию
                            p.c-price__item-price
                                span от 5 940 000 ₽
                            a.button-style.button-style--red Рассчитать смету

                            .c-price-specification.animate__animated.animate__bounceIn(data-spec-active="1")
                                .c-price-s-wrap
                                    .c-price-s-inner
                                        .c-price-specification-close
                                            i.fat.fa-times
                                        h4 цена домокомплекта
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada ut nisi, sodales augue sit. Faucibus justo natoque hendrerit bibendum ultrices eu. Viverra aenean accumsan donec eget tincidunt ac. Arcu at tortor tellus risus velit elementum, sapien tempor. Et quisque praesent diam eget adipiscing. Id phasellus facilisi nisi, at velit elit. Cursus libero lobortis tincidunt enim. Malesuada pellentesque est fermentum turpis eget tincidunt nunc. Augue est vestibulum nulla eleifend neque mi curabitur.

                        .c-price__item
                            h4.c-price__item-title “ТЕПЛЫЙ КОНТУР”
                            p.c-price__item-desc Какое-то короткое описание, поясняющее в чём заключается предложение и его особенности, отличие от других предложений
                            a.c-price__item-spec(data-spec="2")
                                span Посмотреть спецификацию
                            p.c-price__item-price
                                span от 8 940 000 ₽
                            a.button-style.button-style--red Рассчитать смету

                            .c-price-specification.animate__animated.animate__bounceIn(data-spec-active="2")
                                .c-price-s-wrap
                                    .c-price-s-inner
                                        .c-price-specification-close
                                            i.fat.fa-times
                                        h4 “ТЕПЛЫЙ КОНТУР”
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada ut nisi, sodales augue sit. Faucibus justo natoque hendrerit bibendum ultrices eu. Viverra aenean accumsan donec eget tincidunt ac. Arcu at tortor tellus risus velit elementum, sapien tempor. Et quisque praesent diam eget adipiscing. Id phasellus facilisi nisi, at velit elit. Cursus libero lobortis tincidunt enim. Malesuada pellentesque est fermentum turpis eget tincidunt nunc. Augue est vestibulum nulla eleifend neque mi curabitur.

                        .c-price__item
                            h4.c-price__item-title цена Под ключ
                            p.c-price__item-desc Какое-то короткое описание, поясняющее в чём заключается предложение и его особенности, отличие от других предложений
                            a.c-price__item-spec(data-spec="3")
                                span Посмотреть спецификацию
                            p.c-price__item-price
                                span от 10 000 ₽
                            a.button-style.button-style--red Рассчитать смету

                            .c-price-specification.animate__animated.animate__bounceIn(data-spec-active="3")
                                .c-price-s-wrap
                                    .c-price-s-inner
                                        .c-price-specification-close
                                            i.fat.fa-times
                                        h4 цена Под ключ
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada ut nisi, sodales augue sit. Faucibus justo natoque hendrerit bibendum ultrices eu. Viverra aenean accumsan donec eget tincidunt ac. Arcu at tortor tellus risus velit elementum, sapien tempor. Et quisque praesent diam eget adipiscing. Id phasellus facilisi nisi, at velit elit. Cursus libero lobortis tincidunt enim. Malesuada pellentesque est fermentum turpis eget tincidunt nunc. Augue est vestibulum nulla eleifend neque mi curabitur.