---
title: Klyuch 585 | Ипотека/Кредит/Акции
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('Ипотека и кредит', 'Ипотека/Кредит/Акции')

    section.credit

        .credit-prolog

            .container

                .credit-prolog-wrapper

                    h3 Что дает аккредитация банком?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin tortor, ut aliquet sit ultrices gravida mattis id. Facilisis vitae, sem est, et proin et habitant. Duis ante vitae sollicitudin in id et. Pellentesque vulputate massa quam gravida. Eu, massa rutrum dui ultrices dolor quam quam fringilla libero. Senectus vitae nisi, tincidunt at felis, quisque interdum est nibh. Aliquam porttitor amet mauris sed integer nulla purus quis. Lectus condimentum et, lobortis ornare lectus elit ultricies sapien. Dictumst et feugiat velit, lorem diam nisi ut ut ut.

                    h3 Какие существуют льготы и акции
                    ul
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li Sollicitudin tortor, ut aliquet sit ultrices gravida mattis id.
                        li Facilisis vitae, sem est, et proin et habitant.
                        li Duis ante vitae sollicitudin in id et.
                        li Pellentesque vulputate massa quam gravida. Eu, massa rutrum dui ultrices dolor quam quam fringilla libero.
                        li Senectus vitae nisi, tincidunt at felis, quisque interdum est nibh.
                        li Aliquam porttitor amet mauris sed integer nulla purus quis.
                        li Lectus condimentum et, lobortis ornare lectus elit ultricies sapien.
                        li Dictumst et feugiat velit, lorem diam nisi ut ut ut.

        .credit-special

            .container

                h3 Специальные предложения

                .cr-special

                    .cr-special__item
                        .cr-special__image
                            img(src="assets/images/image-2311.jpg", alt="img")
                        .cr-special__wrap
                            .cr-special__label Специальное предложение от сбербанка
                            .cr-special__text Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit
                            a.button-style.button-style--white Узнать подробнее

                    .cr-special__item
                        .cr-special__image
                            img(src="assets/images/image-2311.jpg", alt="img")
                        .cr-special__wrap
                            .cr-special__label Специальное предложение от сбербанка
                            .cr-special__text Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit
                            a.button-style.button-style--white Узнать подробнее

                    .cr-special__item
                        .cr-special__image
                            img(src="assets/images/image-2311.jpg", alt="img")
                        .cr-special__wrap
                            .cr-special__label Специальное предложение от сбербанка
                            .cr-special__text Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit consectetur adipiscing elit
                            a.button-style.button-style--white Узнать подробнее

        .credit-faq

            .container

                .faq

                    .faq__block
                        .faq__head
                            .faq__question Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            .faq__slide-btn

                        .faq__answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin tortor, ut aliquet sit ultrices gravida mattis id. Facilisis vitae, sem est, et proin et habitant. Duis ante vitae sollicitudin in id et. Pellentesque vulputate massa quam gravida. Eu, massa rutrum dui ultrices dolor quam quam fringilla libero. Senectus vitae nisi, tincidunt at felis, quisque interdum est nibh. Aliquam porttitor amet mauris sed

                    .faq__block
                        .faq__head
                            .faq__question Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            .faq__slide-btn

                        .faq__answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin tortor, ut aliquet sit ultrices gravida mattis id. Facilisis vitae, sem est, et proin et habitant. Duis ante vitae sollicitudin in id et. Pellentesque vulputate massa quam gravida. Eu, massa rutrum dui ultrices dolor quam quam fringilla libero. Senectus vitae nisi, tincidunt at felis, quisque interdum est nibh. Aliquam porttitor amet mauris sed

                    .faq__block
                        .faq__head
                            .faq__question Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            .faq__slide-btn

                        .faq__answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin tortor, ut aliquet sit ultrices gravida mattis id. Facilisis vitae, sem est, et proin et habitant. Duis ante vitae sollicitudin in id et. Pellentesque vulputate massa quam gravida. Eu, massa rutrum dui ultrices dolor quam quam fringilla libero. Senectus vitae nisi, tincidunt at felis, quisque interdum est nibh. Aliquam porttitor amet mauris sed

        .credit-form

            .container

                .co-form__inner

                    .form-image
                        img(src="assets/images/mask-group.png", alt="img")

                    .co-form-question

                        h2.co-form__title Посетите наше производство во&nbsp;Владимирской области

                        form

                            .input-style
                                input(type="text" placeholder="Имя" required)

                            .input-style
                                input(type="tel" placeholder="Телефон" required)

                            .input-style
                                input(type="email" placeholder="Почта" required)

                            .co-form-submit
                                .button-style.button-style--red
                                    input(type="submit" value="Отправить")

                                div.form-question-bottom.d-flex
                                    i.fal.fa-square-check
                                    p Согласен(на) на <a href="#">обработку персональных данных</a>