---
title: Klyuch 585 | Домокомплекты от завода производителя
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('Домокомплекты от завода производителя', 'Домокомплекты')

    section.complement

        .complement-start

            .container

                h3 Заголовок
                .text-overflow
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac fermentum neque ornare et ac sed etiam lectus in. Ipsum sit venenatis lectus amet, in consectetur ipsum mattis. Gravida non enim amet mauris eu. Sociis tincidunt amet nunc, eros facilisis neque et senectus. Platea nulla quis aliquet in nulla ac. Amet cursus a, ornare orci dignissim fermentum adipiscing nunc. Morbi at tellus quisque cras pretium nunc. Sit donec aenean leo tortor risus sed faucibus elementum. Fermentum tempor elementum et ullamcorper in molestie
                    .show-more-btn Показать больше

        .complement-blocks

            .container

                .catalog__inner

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-1.png", alt="img")
                            p.catalog__item-title Клееный брус 170х140,210х140 мм
                            p.catalog__item-price.label-style.label-style--blue от 3 350 000 ₽

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-2.png", alt="img")
                            p.catalog__item-title Двойной брус 190х140 мм
                            p.catalog__item-price.label-style.label-style--blue от 3 350 000 ₽

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-3.png", alt="img")
                            p.catalog__item-title Мини брус 45х140 мм
                            p.catalog__item-price.label-style.label-style--blue от 3 350 000 ₽

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-4.png", alt="img")
                            p.catalog__item-title Сухой проф. брус 140х140 мм
                            p.catalog__item-price.label-style.label-style--blue от 3 350 000 ₽

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-5.png", alt="img")
                            p.catalog__item-title Мини брус 45х140 мм
                            p.catalog__item-price.label-style.label-style--blue от 3 350 000 ₽

        .complement-price

            .container

                h2.s-title Цены

                .co-price

                    .co-price__block
                        h3 Что входит в цену

                        ul
                            li Нарезка чашек под проект
                            li Стяжка пакетов полипропиленовыми лентами
                            li Погрузка

                        h4 Дополнительно оплачивается:

                        ul
                            li Упаковка в светонепроницаемую пленку
                            li Ручная погрузка
                            li Обработка защитным составом

                    .co-price__block
                        h3 Варианты комплектации

                        ul
                            li Нижняя обвязка: 50х150, 100х150, 150х150кт
                            li Черновой пол: 25 мм
                            li Доска пола: 28,36 мм
                            li Вагонка: 12.5 мм
                            li Имитация бруса: 16 мм
                            li Стропила: 50х150 мм
                            li Обрешётка: 25 мм

                    .co-price__block
                        h3 Доставка

                        span Отдельная машина или частичный догруз

                        ul
                            li Деловые линии
                            li ПЭК
                            li Байкал
                            li КИТ
                            li Ратэк
                            li ЖелДорЭкспедиция
                            li Энергия

                        span Предварительно рассчитаем стоимость доставки и пришлем трек-ссылку для контроля местонахождения груза.

        .complement-features

            .container

                h2.s-title С Ключом - надежно

                .co-features

                    .co-features__block
                        .co-features__ico
                            i.fal.fa-piggy-bank

                        .co-features__wrap
                            h4 Справедливые цены
                            p Мы являемся производителем и даем возможность покупать домокомплекты без посредников

                    .co-features__block
                        .co-features__ico
                            i.fal.fa-thumbs-up

                        .co-features__wrap
                            h4 Отвечаем за качество
                            p За 20 лет мы отточили производственные процессы, снизив издержки и сохранив высочайшее качество продукции

                    .co-features__block
                        .co-features__ico
                            i.fal.fa-shield-check

                        .co-features__wrap
                            h4 Быстро и безопасно
                            p Мы тщательно упаковываем домокомплекты и отправляем груз только проверенными перевозчиками