---
title: Klyuch 585 | Домокомплекты из клеёного бруса
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('Домокомплекты из клеёного бруса', 'Домокомплекты', 'Домокомплекты из клееного бруса')

    section.complement

        .complement-start

            .container

                h3 Заголовок
                .text-overflow
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac fermentum neque ornare et ac sed etiam lectus in. Ipsum sit venenatis lectus amet, in consectetur ipsum mattis. Gravida non enim amet mauris eu. Sociis tincidunt amet nunc, eros facilisis neque et senectus. Platea nulla quis aliquet in nulla ac. Amet cursus a, ornare orci dignissim fermentum adipiscing nunc. Morbi at tellus quisque cras pretium nunc. Sit donec aenean leo tortor risus sed faucibus elementum. Fermentum tempor elementum et ullamcorper in molestie
                    .show-more-btn Показать больше

        .complement-blocks

            .container

                .catalog__inner

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dki-1.png", alt="img")
                            p.catalog__item-title 80 х 140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue 54 200 ₽/м3

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dki-2.png", alt="img")
                            p.catalog__item-title 25 х 140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue 51 300 ₽/м3

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dki-3.png", alt="img")
                            p.catalog__item-title 170 х 140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue 48 000 ₽/м3

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dki-4.png", alt="img")
                            p.catalog__item-title 210 х 140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue 48 000 ₽/м3

        .complement-table

            .container

                .co-table__wrap

                    .co-table__label
                        .co-table-left.label Параметр
                        .co-table-right.label Значение

                    .co-table

                        .co-table-row
                            .co-table-left Высота бруса, мм
                            .co-table-right 140 (рабочая 125)

                        .co-table-row
                            .co-table-left Ширина бруса, мм
                            .co-table-right 80, 125, 170, 210

                        .co-table-row
                            .co-table-left Профиль
                            .co-table-right «Гребенка»

                        .co-table-row
                            .co-table-left Длина
                            .co-table-right Согласно проекту

                        .co-table-row
                            .co-table-left Высота шипа, глубина паза, мм
                            .co-table-right 15

                        .co-table-row
                            .co-table-left Влажность %
                            .co-table-right 12

                        .co-table-row
                            .co-table-left Длина заготовки внешних ламелей
                            .co-table-right Согласно проекту

                        .co-table-row
                            .co-table-left Длина заготовки внутренних ламелей
                            .co-table-right Согласно проекту

                        .co-table-row
                            .co-table-left Шероховатость поверхности
                            .co-table-right 0

                        .co-table-row
                            .co-table-left Отклонение по геометрии любой кромки на 1 погонный метр
                            .co-table-right 0

                        .co-table-row
                            .co-table-left Отклонение от плоскости на 1 погонный метр
                            .co-table-right 0

                        .co-table-row
                            .co-table-left Прочность клеевых соединений слоев не менее
                            .co-table-right Прочность клеевых соединений слоев не менее

                        .co-table-row
                            .co-table-left Количество бруса 1-го класса в партии
                            .co-table-right 80%-100%

                        .co-table-row
                            .co-table-left Количество бруса 2-го класса в партии
                            .co-table-right 0%-20%

        .complement-another

            .container

                h2.s-title Также производим домкомплекты из:

                .catalog__inner

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-1.png", alt="img")
                            p.catalog__item-title Клееный брус 170х140,210х140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue от 3 350 000 ₽

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-2.png", alt="img")
                            p.catalog__item-title Двойной брус 190х140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue от 3 350 000 ₽

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/dk-3.png", alt="img")
                            p.catalog__item-title Мини брус 45х140 мм
                            .catalog__item-price
                                p.label-style.label-style--blue от 3 350 000 ₽

        .complement-price

            .container

                h2.s-title Цены

                .co-price

                    .co-price__block
                        h3 Что входит в цену

                        ul
                            li Нарезка чашек под проект
                            li Стяжка пакетов полипропиленовыми лентами
                            li Погрузка

                        h4 Дополнительно оплачивается:

                        ul
                            li Упаковка в светонепроницаемую пленку
                            li Ручная погрузка
                            li Обработка защитным составом

                    .co-price__block
                        h3 Варианты комплектации

                        ul
                            li Нижняя обвязка: 50х150, 100х150, 150х150кт
                            li Черновой пол: 25 мм
                            li Доска пола: 28,36 мм
                            li Вагонка: 12.5 мм
                            li Имитация бруса: 16 мм
                            li Стропила: 50х150 мм
                            li Обрешётка: 25 мм

                    .co-price__block
                        h3 Доставка

                        span Отдельная машина или частичный догруз

                        ul
                            li Деловые линии
                            li ПЭК
                            li Байкал
                            li КИТ
                            li Ратэк
                            li ЖелДорЭкспедиция
                            li Энергия

                        span Предварительно рассчитаем стоимость доставки и пришлем трек-ссылку для контроля местонахождения груза.

        .complement-features

            .container

                h2.s-title С Ключом - надежно

                .co-features

                    .co-features__block
                        .co-features__ico
                            i.fal.fa-piggy-bank

                        .co-features__wrap
                            h4 Справедливые цены
                            p Мы являемся производителем и даем возможность покупать домокомплекты без посредников

                    .co-features__block
                        .co-features__ico
                            i.fal.fa-thumbs-up

                        .co-features__wrap
                            h4 Отвечаем за качество
                            p За 20 лет мы отточили производственные процессы, снизив издержки и сохранив высочайшее качество продукции

                    .co-features__block
                        .co-features__ico
                            i.fal.fa-shield-check

                        .co-features__wrap
                            h4 Быстро и безопасно
                            p Мы тщательно упаковываем домокомплекты и отправляем груз только проверенными перевозчиками

        .complement-form

            .container

                .co-form__inner

                    .co-form-question

                        h2.co-form__title Посетите наше производство во&nbsp;Владимирской области

                        form

                            .input-style
                                input(type="text" placeholder="Имя" required)

                            .input-style
                                input(type="tel" placeholder="Телефон" required)

                            .input-style
                                input(type="email" placeholder="Почта" required)

                            .co-form-submit
                                .button-style.button-style--red
                                    input(type="submit" value="Отправить")

                                div.form-question-bottom.d-flex
                                    i.fal.fa-square-check
                                    p Согласен(на) на <a href="#">обработку персональных данных</a>

                    .form-image
                        img(src="assets/images/form-img.jpg", alt="img")

        .work

            .container

                h2.s-title Мы построили более&nbsp;1000&nbsp;домов за&nbsp;15 лет!

                .work__inner

                    .work__block
                        .work__image
                            img(src="assets/images/work-1.jpg", alt="img")
                        .work__image
                            img(src="assets/images/work-2.jpg", alt="img")
                        .work__image
                            img(src="assets/images/work-3.jpg", alt="img")

                    .work__block
                        .work__image
                            img(src="assets/images/work-4.jpg", alt="img")
                        .work__image
                            img(src="assets/images/work-5.jpg", alt="img")
                        .work__image
                            img(src="assets/images/work-6.jpg", alt="img")

                a.button-style.button-style--blue(href="#") Смотреть все фото