---
title: Klyuch 585 | ПОРУЧЕНЬ строганный, сухой, сращенный
page: e-commerce
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('', 'Каталог', 'Пиломатериалы', 'Поручень строганный, сухой, сращенный')

    section.e-commerce

        .container

            .e-item

                .e-item-slider

                    .e-item-slider__main.swiper

                        .swiper-wrapper

                            .swiper-slide
                                .e-item__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                            .swiper-slide
                                .e-item__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                            .swiper-slide
                                .e-item__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                            .swiper-slide
                                .e-item__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")


                    .e-item-slider__nav.swiper

                        .swiper-wrapper

                            .swiper-slide
                                .e-nav__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                            .swiper-slide
                                .e-nav__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                            .swiper-slide
                                .e-nav__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                            .swiper-slide
                                .e-nav__image
                                    img(src="assets/images/e-commer-item.jpg", alt="img")

                .e-item-desc

                    h1.s-title ПОРУЧЕНЬ строганный, сухой, сращенный
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor odio orci tristique montes, dui vitae senectus. Viverra amet habitant nisi, condimentum eu dui maecenas. Enim in neque condimentum id tellus sagittis id volutpat. Gravida accumsan ultricies nibh commodo habitant ipsum quam pellentesque.

                    p Артикул: D48765
                    p Размер: 18х25х3000 мм

                    p 14 700 ₽/ м3

                    input(type="number" value=1000)
                    .button-style.button-style--red В корзину
                    .button-style.button-style--blue Купить в один клик