---
title: Klyuch 585 | ПОРУЧЕНЬ строганный, сухой, сращенный
page: e-commerce
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('', 'Каталог', 'Пиломатериалы', 'Поручень строганный, сухой, сращенный')

    section.e-commerce-item

        .e-item

            .container

                .e-item-wrap

                    .e-item-slider

                        .e-item-slider__main.swiper

                            .swiper-wrapper

                                .swiper-slide
                                    .e-item__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-item__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-item__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-item__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-item__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                            .e-item-buttons
                                .e-item-btn.e-item-btn-prev
                                    i.far.fa-chevron-left
                                .e-item-btn.e-item-btn-next
                                    i.far.fa-chevron-right


                        .e-item-slider__nav.swiper

                            .swiper-wrapper

                                .swiper-slide
                                    .e-nav__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-nav__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-nav__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-nav__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                                .swiper-slide
                                    .e-nav__image
                                        img(src="assets/images/e-commer-item.jpg", alt="img")

                    .e-item-desc

                        h1.e-item-title.s-title ПОРУЧЕНЬ строганный, сухой, сращенный
                        p.e-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor odio orci tristique montes, dui vitae senectus. Viverra amet habitant nisi, condimentum eu dui maecenas. Enim in neque condimentum id tellus sagittis id volutpat. Gravida accumsan ultricies nibh commodo habitant ipsum quam pellentesque.

                        p.e-item__code <b>Артикул:</b>  D48765
                        p.e-item__size <b>Размер:</b>  18х25х3000 мм

                        p.e-item__price 14 700 ₽/ м3

                        .e-item__buttons
                            .e-item__quantity
                                input(type="number" value=10000)
                            .button-style.button-style--red В корзину
                            .button-style.button-style--blue Купить в один клик

        .e-item-info

            .e-item-info-nav

                .swiper

                    .swiper-wrapper

                        .swiper-slide.e-item-nav__lnk.active(data-show=1)
                            p Характеристики

                        .swiper-slide.e-item-nav__lnk(data-show=2)
                            p Описание

                        .swiper-slide.e-item-nav__lnk(data-show=3)
                            p Доставка и оплата

                        .swiper-slide.e-item-nav__lnk(data-show=4)
                            p Гарантия

            .e-item-info-container

                .container

                    .e-item-info-content.active(data-show=1)

                        .e-item-info-table

                            .e-table-row
                                .e-table-label Артикул
                                .e-table-value D48765

                            .e-table-row
                                .e-table-label Длина
                                .e-table-value 140мм

                            .e-table-row
                                .e-table-label Ширина
                                .e-table-value 60мм

                            .e-table-row
                                .e-table-label Глубина
                                .e-table-value 30мм

                            .e-table-row
                                .e-table-label Материал
                                .e-table-value Дерево

                            .e-table-row
                                .e-table-label Влажность %
                                .e-table-value 12

                    .e-item-info-content(data-show=2)
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, maxime!
                    .e-item-info-content(data-show=3)
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit ipsa nemo, quae quaerat quis molestiae!
                    .e-item-info-content(data-show=4)
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in totam ad illo mollitia voluptatum impedit pariatur id eos ducimus.

        .similar-section.catalog

            .container

                h2.s-title Похожие товары

                .catalog__inner

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/e-commer-item.jpg", alt="img")
                            p.catalog__item-title ПОРУЧЕНЬ строганный, сухой, сращенный
                            .catalog__item-price
                                p.label-style.label-style--blue 14 700 ₽/ м3

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/e-commer-item.jpg", alt="img")
                            p.catalog__item-title ПОРУЧЕНЬ строганный, сухой, сращенный
                            .catalog__item-price
                                p.label-style.label-style--blue 14 700 ₽/ м3

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/e-commer-item.jpg", alt="img")
                            p.catalog__item-title ПОРУЧЕНЬ строганный, сухой, сращенный
                            .catalog__item-price
                                p.label-style.label-style--blue 14 700 ₽/ м3

                    .catalog__item
                        a(href="#")
                            .catalog__item-image
                                img(src="assets/images/e-commer-item.jpg", alt="img")
                            p.catalog__item-title ПОРУЧЕНЬ строганный, сухой, сращенный
                            .catalog__item-price
                                p.label-style.label-style--blue 14 700 ₽/ м3