---
title: Klyuch 585 | Оформление заказа
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('Оформление заказа', 'Оформление заказа')

    section.e-commerce-item

        .e-item

            .container
