---
title: Klyuch 585 | ПОРУЧЕНЬ строганный, сухой, сращенный
page: e-commerce
---

extends includes/_page

block main

    include includes/_mixins

    include components/_breadcrumbs
    +breadcrumbs('', 'Каталог', 'Пиломатериалы', 'Поручень строганный, сухой, сращенный')

    section.e-commerce

        .container

            .e-item

                .e-item-slider

                    .e-item-slider__main.swiper

                        .swiper-wrapper

                            .swiper-slide


                    .e-item-slider__nav.swiper

                        .swiper-wrapper

                            .swiper-slide
