---
title: Klyuch 585 | Новости
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Блог')

    section.news

        .container
            h1.s-title Блог

            .news__items

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.
                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

                .news__item

                    .news__item-img

                        img(src="assets/images/news-item.png", alt="")

                    .news__item-content

                        .news__item-title Дом для постоянного проживания - о чем нужно знать

                        .news__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem hendrerit ultrices etiam nunc tellus elementum.

            .pagination

                a.pagination-item(href='javascript:void(0)')

                    i.far.fa-angles-left

                a.pagination-item(href='javascript:void(0)')

                    i.far.fa-angle-left

                a.pagination-item(href='javascript:void(0)') 1

                a.pagination-item.active(href='javascript:void(0)') 2

                a.pagination-item(href='javascript:void(0)') 3

                a.pagination-item(href='javascript:void(0)') ...

                a.pagination-item(href='javascript:void(0)') 10

                a.pagination-item(href='javascript:void(0)')

                    i.far.fa-angle-right

                a.pagination-item(href='javascript:void(0)')

                    i.far.fa-angles-right
