---
title: Klyuch 585 | Вакансии
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Вакансии', 'О нас', 'Вакансии')

    section.vacancies

        .container

            .vacancies__wrap

                .vacancies__block
                    h4 Бухгалтер
                    a.button-style.button-style--red(href="#") Подробнее

                .vacancies__block
                    h4 Руководитель строительных проектов
                    a.button-style.button-style--red(href="#") Подробнее

                .vacancies__block
                    h4 Руководитель по строительству торговых площадей
                    a.button-style.button-style--red(href="#") Подробнее

                .vacancies__block
                    h4 Бухгалтер
                    a.button-style.button-style--red(href="#") Подробнее

                .vacancies__block
                    h4 Руководитель строительных проектов
                    a.button-style.button-style--red(href="#") Подробнее

                .vacancies__block
                    h4 Руководитель по строительству торговых площадей
                    a.button-style.button-style--red(href="#") Подробнее
